<!DOCTYPE html>
<html lang="en">
    <!-- StatusMonitor-Server v1.0.0 by DottoXD -->
    <!-- https://github.com/DottoXD/statusmonitor-server/ released under the GNU General Public License v3.0 -->
    <head>
        <%- include("./partials/head.ejs"); %>
    </head>
    <body>
        <div id="loader"></div>
        <%- include("./partials/navbar.ejs"); %>
        <%- include("./partials/container.ejs"); %>
        <%- include("./partials/footer.ejs"); %>
        <%- include("./partials/scripts.ejs"); %>
    </body>
</html>