<div id="container">
    <h1>Click on each service for more info about it!</h1>
    <% companyServices.forEach(async service => { %> 
        <% servicesStats.forEach(serviceData => { %>
            <% if(serviceData.Name === service.Name) { %>
                <% if(serviceData.Online) { %>
                    <button id="button" onclick="serviceStats('🟢 Online', '<%= service.Name %>', '<%= service.Url %>', '<%= serviceData.Cpu %>', '<%= serviceData.Ram_Used %>', '<%= serviceData.Ram_Total %>', '<%= serviceData.Disk_Total %>', '<%= serviceData.Disk_Used %>', '<%= serviceData.Network_Rx %>', '<%= serviceData.Network_Tx %>', '<%= serviceData.Network_Rx_Sec %>', '<%= serviceData.Network_Tx_Sec %>', '<%= serviceData.Load %>');" class="onlineButton"><ion-icon class="onlineIcon" name="checkmark-outline"></ion-icon><%= service.Name %><br>Online for <%= serviceData.Uptime %></button>
                <% } else { %>
                    <button id="button" onclick="serviceStats('🔴 Offline', '<%= service.Name %>', '<%= service.Url %>', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);" class="offlineButton"><ion-icon class="offlineIcon" name="close-outline"></ion-icon><%= service.Name %><br>Offline</button>
                <% } %>
            <% } %>
        <% }) %>
    <% }); %>
</div>

<div id="stats">
    <button style="width: 40px; height: 40px; position: absolute; right: 10px; top: 50px;" onclick="closeStats();"><ion-icon name="close-outline"></ion-icon></button>
    <h1 id="service"></h1>
    <button onclick="window.location='';" id="url"></button>
    <button id="cpu"></button>
    <button id="ram"></button>
    <button id="disk"></button>
    <button id="networkinout"></button>
    <button id="networkinoutsec"></button>
    <button id="load"></button>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function()
    {
        function refresh()
        {
            $.get('/', {}, function(data, status, xhr)
            {
                $('#container').html($(data).filter('#container').html());
            });
        }

        setInterval(function()
        {
            refresh()
        }, 5000);
    });
</script>